HOST=0.0.0.0
PORT=4184
MAIL_REMINDER_LEAD_MINUTES=1440

# Mail ayarlari - fizikon.com icin Yandex SMTP
MAIL_FROM_ADDRESS=bilgiislem@fizikon.com
MAIL_SMTP_HOST=smtp.yandex.com
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=true
MAIL_SMTP_USERNAME=bilgiislem@fizikon.com
MAIL_SMTP_PASSWORD=your_yandex_app_password
